<front-navbar></front-navbar>
<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <input type="text" [(ngModel)]="event.title" name="title" placeholder="Título" required>
  <input type="text" [(ngModel)]="event.location" name="location" placeholder="Ubicación" required>
  <input type="date" [(ngModel)]="event.date" name="date" required>
  <input type="time" [(ngModel)]="event.time" name="time" required>
  <textarea [(ngModel)]="event.description" name="description" placeholder="Descripción"></textarea>
  <!-- <input type="text" [(ngModel)]="tagsInput" name="tagsInput" placeholder="Tags (separados por coma)"> -->
  <label for="tags">Select a category</label>
  <select name="tags" id="">
    <option value="">--</option>
    <option value="concert">Concert</option>
    <option value="Theater-musical">Theater or musical</option>
    <option value="comedy">Comedy</option>
    <option value="sport">Sport</option>
  </select>
  <input type="file" (change)="onFileSelected($event)" accept="image/*">

  <label for="plan">Seleccionar Plano:</label>
  <select [(ngModel)]="selectedPlanId" name="plan" style="color: black;">
    <option [value]="null">-- Ninguno --</option>
    <option *ngFor="let plan of userPlans" [value]="plan.id">{{ plan.name }}</option>
  </select>
  
  <p *ngIf="userPlans.length === 0">No hay planos cargados</p>
  <p *ngIf="userPlans.length > 0">Se cargaron {{ userPlans.length }} planos</p>

  <button type="submit">Crear Evento</button>
</form>