<div class="hero-section">
  <div class="section-left">
    <!-- Logo y Título -->
    <div class="marca-everix">
      <img src="assets/img/logo-eventix.png" alt="Logo" class="logo">
      <h1 class="title">Eventix</h1>
    </div>

    <!-- Párrafo informativo -->
    <div class="slogan">

      <p>Set it up easy,</p>
      <p>show up happy</p>
      
      <!-- Botones -->
      <div class="buttons">
        <a routerLink="/auth/login" class="bton primary">Login</a>
        <a routerLink="/auth/register" class="bton secondary">Register</a>
      </div>
    </div>
    </div>
</div>